table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
  }

h1{
  position: relative;
  padding-left: 125px;
}

caption {caption-side:bottom;}

tr:nth-child(even) {background-color: #e2f5f5;}

tr:hover {background-color: #f0d0d2;}

th, td {
    padding: 10px;
  }

th {
    text-align: left;
  }

th {
    background-color: #f0d0d2;
  }

